*{
    margin: 0;
    padding: 0;
    font-family:Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(h2.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top:25px ;
}
ul li{
    display: inline-block;
}
ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1.5px solid transparent;
    transition: 0.9s ease;
}
ul li a:hover{
    background-color: black;
    color: white; 
}
ul li.active a{
    background-color: black;
    color: white;
}
.logo img{
    float: left;
    width: 200px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.ctg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: wheat;
    font-family: sans-serif;
}
.row {
    
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 50%;
    position: relative;
    left: 22.5%;
}
.box-container {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box-container img:hover {
    transform: scale(1.1);
}
.box-container>h1 {
    font-size: large;
}

.box-container p {
    font-weight: 100;
}

.box-container img {
    width: 200px;
    height: 200px;
    left: 25%;
    position: relative;

}
.box-container h2,p{
    position: relative;
    left: 25%;
}
.box-container a{
    color: black;
    text-decoration: none;
    border: 1.5px solid transparent;
    border-radius: 7px;
    transition: 0.7s ease;
}
.box-container a:hover{
    background-color: black;
    color: white;  
}
.hide{
    transition: 0.7s ease;
    display: none;
}
.box-container:hover+ .hide{
    display: block;
    color : black;
}
.box-container h2:hover + .hide{
    
    background-color: black;
    border-radius: 7px;
    display:block;
    color: pink;
    
}
.hide{
    width: 150px;
    position: absolute;
    text-transform: inherit;
}
.social{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.social img{
    align-items: center;
    width: 50px;
    height: 50px;
}
.social img:hover{
    transform: scale(1.1);
}
.slideshow-container {
    color: rgb(104, 42, 52);
    position: relative;
    background: rgb(235, 229, 229);
  }
  
  
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    
  }
  
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color:black;
    color: white;
  }
  
  
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.6s ease;
  }
  
  
  /*.active, .dot1:hover {
    background-color: #717171;
  }*/
  
  
  p {font-style: italic;}
  
  
  .author {color: rgb(164, 190, 238);}

  @media only screen and (max-width:400px){
      .main{
          max-width: 400px;
      }
    header{
        width: 100%;
        height: 50vh;
        background-size:cover;
        background-position: center;
    }
    .logo>img{
        width: 150px;
        margin-left: 30%;
    }
    ul{
        float: left;
        display: flex;
        padding: 10px; 
    }
    ul li{ 
        padding: 10px;
        font-size: 15px;
    }
    ul li a:hover{
        background-color: black;
        color: white; 
    }
    ul li.active a{
        background-color: black;
        color: white;
    }
    .ctg{
        top:45%;
        font-size: 8px;
        background-color: black;
        color: white;
    }
    .row{
        display: block;
        left:22.5%;
        width: 30%;
        
    }
    .box-container h2{
        left: 50%;
        font-size: 20px;   
    }
    .box-container{
        padding-top: 50px;
    }
    .box-container a{
        border-bottom: 1px solid black;
        color: rgb(105, 105, 105);
        background-color: rgb(209, 212, 191);
    }
    .hide{
        display: flex;
        position: relative;
        color: black;
        border: 10px solid rgb(199, 199, 134);
        left: 35%;
        text-transform: uppercase;
    }
    .hide:hover{
        background-color: rgb(136, 140, 113);
    }
  }



  @media only screen and (max-width:768px){
    .main{
        max-width: 400px;
    }
  header{
      width: 100%;
      height: 50vh;
      background-size:cover;
      background-position: center;
  }
  .logo>img{
      width: 150px;
      margin-left: 30%;
  }
  ul{
      float: left;
      display: flex;
      padding: 10px; 
  }
  ul li{ 
      padding: 10px;
      font-size: 15px;
  }
  .ctg{
      top:45%;
      font-size: 8px;
      background-color: black;
      color: white;
  }
  .row{
      display: block;
      left:22.5%;
      width: 30%;
      
  }
  .box-container h2{
      left: 50%;
      font-size: 20px;   
  }
  .box-container{
      padding-top: 50px;
  }
  .box-container a{
      border-bottom: 1px solid black;
      color: rgb(105, 105, 105);
      background-color: rgb(209, 212, 191);
  }
  .hide{
      display: flex;
      position: relative;
      color: black;
      border: 10px solid rgb(199, 199, 134);
      left: 35%;
      text-transform: uppercase;
  }
  .hide:hover{
      background-color: rgb(136, 140, 113);
  }
}